.leaflet-popup-content-wrapper {
    position: relative;
    padding: 0;
    border-radius: 8px !important;
}

.leaflet-popup-content {
    min-width: 100px !important; 
    width: unset !important;
    margin: 5px !important;
}

.leaflet-popup-input {
    min-width: unset !important; ;
}

.leaflet-popup-tip-container {
    opacity: 0;
}

.leaflet-popup-useraction-buttons {
    display: flex;
    flex-flow: row;
    line-height: 1;
    padding: 0;
}

.leaflet-popup-button.remove {
    visibility: hidden;
    width: 50px;
    height: 14px;
}

.leaflet-popup-button.remove:after {
    content: 'Remove';
    visibility: visible;
    display: block;
    position: absolute;
    bottom: 0px;
}